<h1 style="padding: 20px;text-align: center;">{{title}}</h1>

<div class="container">
  <app-basic-interfaces></app-basic-interfaces>
  <app-http-observable></app-http-observable>
  <app-async-pipe></app-async-pipe>
  <app-map-transformation></app-map-transformation>
  <app-switch-map></app-switch-map>
  <app-generic-api-response></app-generic-api-response>
  <app-partial-pick-omit></app-partial-pick-omit>
  <app-state-pattern></app-state-pattern>
  <app-caching-forkjoin></app-caching-forkjoin>
</div>