/* You can add global styles to this file, and also import other style files */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  font-family: Arial, Helvetica, sans-serif;
}

.app-container,
.notes-content {
  max-width: 800px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  margin: 20px auto;
}
